<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title id='pageTitle'>Trang chủ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class='row'>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" id='brand' href="/">Tham's Airline</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="#">Link
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="disactive">
                                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" id='veBay'>Vé bay</a>
                            </li>
                            <li class="dropdown">
                                <a id='username' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guest
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" id='user'>
                                    <li>
                                        <a href="/account/login">Đăng nhập</a>
                                    </li>
                                    <li>
                                        <a href="/account/signup">Đăng ký</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>

        <div class='row' id='FlyDetail'>
            <div class="list-group col-md-2">
                <a href="/" class="list-group-item">Tra cứu chuyến bay</a>
                <a href="#" class="list-group-item">Xem lịch bay</a>
                <a href="#" class="list-group-item">Xem danh sách vé đặt</a>
                <a href="#" class="list-group-item">Xem danh sách phiếu đặt chỗ</a>
            </div>


            <div id='showDataView' class="col-md-10">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Tra cứu chuyến bay</div>

                    <!-- Table -->
                    <table id='tableFlyDetail' class="table">
                        <tr>
                            <th>STT</th>
                            <th>Sân bay đi</th>
                            <th>Sân bay đến</th>
                            <th>Khởi hành</th>
                            <th>Thời gian</th>
                            <th>Số ghế trống</th>
                            <th>Số ghế đặt</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td width="3%">
                                <button type="button" class="btn btn-info">Chi tiết</button>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        let flight;
        let bookingFlight;
        const GUI_API = "http://localhost:3002";
        let ret
        var requestApi = (uri, method, att, data) => {
            return new Promise((resole, reject) => {
                if (method.toLowerCase() == 'get' && data) {
                    uri += "?";
                    let first = true;
                    for (let i = 0; i < data.length; ++i) {
                        if (first) {
                            uri += att[i] + "=" + data[i];
                            first = false;
                        } else {
                            uri += "&" + att[i] + "=" + data[i];
                        }
                    }
                    data = null;
                } else if (method.toLowerCase() == 'post' && data) {
                    return
                }
                $.ajax({
                    method: method,
                    url: GUI_API + uri,
                    data: data
                }).done((result) => {
                    resole(result)
                })
            })
        }

        function postData(url, data) {
            let result
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    result = this.responseText
                }
            };
            xhttp.open("POST", url, false);
            xhttp.send(data);

            return result
        }

        $(document).ready(function () {
            $('#pos').text('Hello everybody');

            // $('#tableFlyDetail').on('click', 'button', function () {
            //     var data = table.row($(this).parents('tr')).data();
            //     alert(data[0] + "'s salary is: " + data[5]);
            // });

            loadListFlight()
        })

        function showDetail(nrow) {
            tableData = document.getElementById('tableFlyDetail').getElementsByTagName('tr')
            flight = tableData[parseInt(nrow)].getElementsByTagName('td')

            requestApi('/booking/flightDetail', "GET", [''], [{}]).then(data => {
                document.getElementById('showDataView').innerHTML = data;

                data = { 'Ma_chuyen_bay': flight[1].innerHTML }
                detail = postData(GUI_API + '/booking/flightDetail', JSON.stringify(data));
                parser = new DOMParser();
                xmlDoc = parser.parseFromString(detail, "text/xml");
                xmlDoc = xmlDoc.getElementsByTagName('root')[0]

                bookingFlight = xmlDoc
                info = document.getElementById('flightInfo').getElementsByTagName('p')
                
                info[0].innerHTML += xmlDoc.getAttribute('San_bay_di')
                info[1].innerHTML += xmlDoc.getAttribute('San_bay_den')
                info[2].innerHTML += xmlDoc.getAttribute('Ngay_gio')
                info[3].innerHTML += xmlDoc.getAttribute('Thoi_gian_bay')
                info[4].innerHTML += xmlDoc.getAttribute('So_luong_ghe_hang_1')
                info[5].innerHTML += xmlDoc.getAttribute('So_luong_ghe_hang_2')

                xmlDoc = xmlDoc.getElementsByTagName('San_bay')
                dsTrungGian = ""
                for (i = 0; i < xmlDoc.length; i++) {
                    dsTrungGian += "<tr>"
                    dsTrungGian += "<td>" + (i + 1).toString() + "</td>"
                    dsTrungGian += "<td>" + xmlDoc[i].getAttribute('San_bay_trung_gian') + "</td>"
                    dsTrungGian += "<td>" + xmlDoc[i].getAttribute('Thoi_gian_dung') + "</td>"
                    dsTrungGian += "<td>" + xmlDoc[i].getAttribute('Ghi_chu') + "</td>"
                }

                document.getElementById('sanBayTrungGian').innerHTML += dsTrungGian
            })
        }

        function onBooking() {
            requestApi('/booking/form', "GET", [''], [{}]).then(data => {
                document.getElementById('showDataView').innerHTML = data;
                document.getElementById('chuyenbay').value = flight[1].innerHTML
            })
        }

        function loadListFlight() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(this.responseText, "text/xml");
                    xmlDoc = xmlDoc.getElementsByTagName('Chuyen_bay')
                    console.log(xmlDoc)
                    let tb = "<tr class=\"table\"> <th>STT</th> <th>Mã chuyến bay</th> <th>Sân bay đi</th> <th>Sân bay đến</th> <th>Khởi hành</th> <th>Thời gian</th> <th>Số ghế trống</th> <th>Số ghế đặt</th> <th></th> </tr>"

                    for (let i = 0; i < xmlDoc.length; i++) {
                        tb += "<tr>"
                        tb += "<td>" + (i + 1).toString() + "</td>"
                        tb += "<td>" + xmlDoc[i].getAttribute('Ma_chuyen_bay') + "</td>"
                        tb += "<td>" + xmlDoc[i].getAttribute('San_bay_di') + "</td>"
                        tb += "<td>" + xmlDoc[i].getAttribute('San_bay_den') + "</td>"
                        tb += "<td>" + xmlDoc[i].getAttribute('Khoi_hanh') + "</td>"
                        tb += "<td>" + xmlDoc[i].getAttribute('Thoi_gian') + "</td>"
                        tb += "<td>" + xmlDoc[i].getAttribute('So_ghe_trong') + "</td>"
                        tb += "<td>" + xmlDoc[i].getAttribute('So_ghe_dat') + "</td>"
                        tb += "<td width=\"3%\"> <button type=\"button\" " + "onclick=\"showDetail(" + (i + 1).toString() + ")\"" + " class=\"btn btn-info\">Chi tiết</button> </td>"
                        tb += "</tr>"
                    }
                    document.getElementById('tableFlyDetail').innerHTML = tb;
                }
            };
            xhttp.open("GET", "/DSChuyenBay", true);
            xhttp.send();
        }
    </script>
</body>

</html>