<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title id='pageTitle'>Trang chủ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class='row'>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" id='brand' href="/home">Tham's Airline</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="#">Link
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="disactive">
                                <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" id='veBay'>Vé bay</a>
                            </li>
                            <li class="dropdown">
                                <a id='username' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guest
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" id='user'>
                                    <li>
                                        <a href="/account/login">Đăng nhập</a>
                                    </li>
                                    <li>
                                        <a href="/account/signup">Đăng ký</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>

        <div class='row' id='FlyDetail'>
            <div class="list-group col-md-2">
                <a href="/" class="list-group-item">Tra cứu chuyến bay</a>
                <a href="#" class="list-group-item">Xem lịch bay</a>
                <a href="#" class="list-group-item">Xem thông tin vé</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>


            <div id='chiTietChuyenBay' class="col-md-10">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Trang chủ</div>

                    <div class="container-fluid">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh diam, cursus ac urna ut, mollis gravida est. 
                            Quisque sed ligula rhoncus, aliquet nunc quis, sodales ligula. Curabitur efficitur a justo sit amet vulputate. 
                            Curabitur egestas fringilla urna, quis pharetra eros luctus quis. Nunc id elit justo. 
                            Phasellus eget felis euismod, posuere sem sed, ultricies augue. Vestibulum porta malesuada eros id sagittis.
                        </p>

                        <p>
                            Quisque molestie nibh lacus, in facilisis dui gravida ut. 
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                            Aenean et arcu porttitor, placerat enim eget, ultricies odio. Proin faucibus gravida eros sed pellentesque. 
                            Cras vel libero molestie, feugiat risus ac, sodales orci. Suspendisse non pharetra eros. 
                            In blandit, nibh sed volutpat iaculis, nunc velit consectetur erat, non blandit metus sapien quis felis. 
                            Nam eleifend sit amet felis efficitur porttitor. Fusce accumsan eleifend sapien eget accumsan.
                        </p>
                        <p>
                            Phasellus sem nibh, cursus vel gravida non, fermentum rhoncus elit. 
                            Curabitur a lobortis nulla, non semper elit. Sed ac mi ut justo sagittis hendrerit. 
                            Etiam felis nisl, rhoncus vitae nibh a, dignissim volutpat ante. Sed auctor sit amet dui vitae commodo. 
                            Aenean quis mi ac quam tristique ultrices. Duis non eleifend mauris, aliquam porttitor mauris. 
                            Pellentesque leo ipsum, luctus quis metus dictum, porta mattis felis. 
                            Pellentesque elementum, quam nec pulvinar tristique, nisl felis sodales lectus, ac auctor quam sapien in libero. 
                            Aliquam erat volutpat. Nam ullamcorper condimentum libero semper pulvinar. Pellentesque cursus porta massa, vel consequat lacus tempor ac. 
                            Phasellus faucibus cursus suscipit. Phasellus pretium nulla vel neque condimentum sodales. 
                            Vestibulum vehicula velit eget dolor mollis varius. Sed accumsan diam in ante gravida ullamcorper eu at urna.
                        </p>
                        <p>
                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vel finibus sem. 
                            Maecenas id arcu vel libero varius venenatis quis sit amet dui. Aliquam vulputate purus augue, ut venenatis ante rhoncus sed. 
                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                            Curabitur placerat neque eu velit feugiat sodales. Suspendisse potenti.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>

</html>