<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Phiếu đặt chỗ</div>

    <div class="row">
        <div class="col-md-3 text-center">

            <h3 style="vertical-align: middle">Phiếu 1</h3>
        </div>
        <div class="col-md-9">
            <div class="col-md-8 col-md-offset-2">
                <form method="POST" action="/account/signup">
                    <div class="form-group">
                        <label for="Ma_chuyen_bay">Mã chuyến bay</label>
                        <input name="Ma_chuyen_bay" type="text" class="form-control" id="Ma_chuyen_bay" disabled>
                    </div>
                    <div class="form-group">
                        <label for="Hanh_khach">Tên</label>
                        <input name="Hanh_khach" type="text" class="form-control" id="Hanh_khach">
                    </div>
                    <div class="form-group">
                        <label for="CMND">CMND</label>
                        <input name="CMND" type="text" class="form-control" id="CMND">
                    </div>
                    <div class="form-group">
                        <label for="Dien_thoai">SĐT</label>
                        <input name="Dien_thoai" type="text" class="form-control" id="Dien_thoai">
                    </div>
                    <div class="form-group">
                        <label for="Hang_ve">Hạng vé</label>
                        <input name="Hang_ve" type="text" class="form-control" id="Hang_ve">
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-success text-center">Xác nhận</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>